html, body {
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(-90deg, #1778c7, #9eca58);
    background-size: 400% 400%;

    -webkit-animation: background 6s ease infinite;
    -moz-animation: background 6s ease infinite;
    animation: background 6s ease infinite;
}

@-webkit-keyframes background {
    0%{background-position:0% 0%}
    50%{background-position:100% 0%}
    100%{background-position:0% 0%}
}

@-moz-keyframes background {
    0%{background-position:0% 0%}
    50%{background-position:100% 0%}
    100%{background-position:0% 0%}
}

@keyframes background {
    0%{background-position:0% 0%}
    50%{background-position:100% 0%}
    100%{background-position:0% 0%}
}