body {
  background: linear-gradient(154deg, #2edd86, #8e0ae6);
  background-size: 400% 400%;
  animation: bg 6s ease infinite;
}

@keyframes bg {
  0%{background-position:23% 0%}
  50%{background-position:78% 100%}
  100%{background-position:23% 0%}
}