body {
  margin: 0;
  background-image: url("../assets/stitches.bmp");
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

hr {
  color: white;
}

a {
  color: rgb(111, 174, 255);
}

a:hover {
  color: white;
  background-color: rgb(255, 255, 255, .1);
}

.content {
  margin-left: 15%;
  margin-right: 15%;
}

.center {
  text-align: center;
}

.button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}