body {
  margin: 0;
  background-image: url("../assets/bg.png");
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

hr {
  color: white;
}

a {
  color: rgb(111, 174, 255);
}

a:hover {
  color: white;
  background-color: rgb(255, 255, 255, .1);
}

.banner {
  height: 100px;
}

.content {
  margin-left: 15%;
  margin-right: 15%;
}

.center {
  text-align: center;
}

.header a {
  color: #0DFFC3;
  font-size: 24px;
  padding: 5px;
  background: linear-gradient(135deg, #020001, #62004D);
  text-decoration: none;
}

.button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}