body {
  margin: 0;
}

a {
  color: darkslateblue;
}

.inline img {
  height: 50px;
  width: 50px;
}

.inline {
  display: flex;
  align-items: center;
}

.bar {
  background-color: lightblue;
  text-align: center;
  padding: 3px;
}

.bar a {
  color: black;
  background-color: white;
  padding: 2px;
}

.content {
  margin-left: 200px;
  margin-right: 200px;
}

.buttons img {
  width: 100px;
}