body {
  margin: 20;
  background-image: url("../assets/parappa.webp");
  color: black;
  text-shadow: 0px 0px 3px #000;
  background-size: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  animation-name: backg;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes backg {
  0%   {background-size: 5%; color: black;}
  50%   {background-size: 15%; color: red;}
  100%   {background-size: 5%; color: black;}
}

.baby img {
  width: 300px;
}