body {
  font-family: Arial;
  background-color: #111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
}

li {
  float: left;
}

li a {
  display: block;
  color: #737373;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover:not(.active):not(.youtube):not(.twitter):not(.twitch) {
  color: #b8b8b8;
}

.active {
  color: white;
}

.youtube:hover {
color: red;
}

.twitter:hover {
color: #00acee;
}

.twitch:hover {
color: #6441a5;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}