body {
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    font: normal 12px Helvetica, Arial;
    line-height:1.4em;
    margin:0;
}

.container {
    width:50%;
    margin:auto;
}

.box-2 {
    background-color: rgb(49, 49, 49);
    border-left:3px rgb(50, 160, 233) solid;
    padding-top:3px;
    padding-left:10px;
    margin-top:10px;
}

.box-3 {
    background-color: rgb(49, 49, 49);
    border-left:3px rgb(211, 208, 53) solid;
    padding-top:3px;
    padding-left:10px;
    margin-top:10px;
}

.box-4 {
    background-color: rgb(49, 49, 49);
    border-left:3px rgb(39, 218, 93) solid;
    padding-top:3px;
    padding-left:10px;
    margin-top:10px;
}

.box-5 {
    background-color: rgb(49, 49, 49);
    border-left:3px rgb(255, 255, 255) solid;
    padding-top:3px;
    padding-left:10px;
    margin-top:10px;
}

.box-6 {
    background-color: rgb(49, 49, 49);
    border-left:3px rgb(236, 37, 186) solid;
    padding-top:3px;
    padding-left:10px;
    margin-top:10px;
}

a {
    text-decoration:none;
    color:rgb(77, 172, 250);
}