body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #2C2F33;
  color: white;
}

@font-face {
  font-family: discord;
  src: url(assets/discord.otf);
}

a {
  color: rgb(42, 108, 250);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.right a {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-content {
  margin-left: 100px;
  margin-right: 100px;
}

.navbar {
  height: 60px;
  background-color: #23272A;
}

.navbar a {
  line-height: 60px;
  color: white;
}

.navbar-content img {
  margin-top: 10px;
  border-radius: 50%;
  float: left;
  height: 40px;
}

.home {
  margin-left: 10px;
  line-height: 60px;
  font-size: 24px;
  font-family: discord;
}

.home:hover {
  text-decoration: none;
}

.center-flex a:hover {
  text-decoration: none;
}

.content-center {
  text-align: center;
}

.content-home {
  margin-left: 20px;
}

.content-home i {
  font-size: 24px;
}

.desktop img {
  width: 400px;
}

.mobile img {
  width: 200px;
}

.desktop, .mobile {
  margin: 10px;
  text-align: center;
}

.fa-telegram {
  color: #34a9db;
}

.fa-github {
  color: black;
}

.fa-mastodon {
  color: #3088d4;
}

.mobile-banner {
  background-color: #7289DA;
  text-align: center;
  display: none;
}

.mobile-banner p {
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 650px) {
  .navbar-content {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media only screen and (max-width: 550px) {
  .mobile-banner {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
	.desktop img {
		width: 90%;
	  }
	  
	  .mobile img {
		width: 90%;
	  }

	iframe {
		width: 90%;
	}
}