body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #111;
  color: white;
}

a {
  color: rgb(42, 108, 250);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.center-flex {
  display: flex;
  justify-content: center;
}

.navbar {
  color: rgb(153, 153, 153);
  background-color: #222;
  text-align: center;
  padding: 2px;
}

.navbar a {
  color: white;
}

.header {
  margin: 15px 0px 15px 0px;
}

h1 img {
	width: 50px;
	vertical-align: middle;
  margin-top: -13px;
  border-radius: 100%;
}

.content-home {
  margin-left: 20px;
}

.content-home i {
  font-size: 24px;
}

.desktop img {
  width: 400px;
}

.mobile img {
  width: 200px;
}

.desktop, .mobile {
  margin: 10px;
  text-align: center;
}

.banner {
  background-color: yellow;
  font-size: 24px;
  text-align: center;
}

.banner a {
  color: black;
}

.fa-telegram {
  color: #34a9db;
  background-color: white;
  padding: 3px;
  border-radius: 25px;
}

.fa-github {
  color: black;
  background-color: white;
  padding: 3px;
  border-radius: 25px;
}

.fa-mastodon {
  color: #3088d4;
  background-color: white;
  padding: 3px;
  border-radius: 25px;
}

@media only screen and (max-width: 600px) {
	.desktop img {
		width: 90%;
	  }
	  
	  .mobile img {
		width: 90%;
	  }

	iframe {
		width: 90%;
	}
}